header{
    margin: 32px 0;
}

nav{
    display: flex;
    gap: 16px;
}

.btn{
    background: #ececec;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.active{
    background: #d7d7d7;
}
