.visualizacao::before{
    width: 16px;
    height: 16px;
    content: '';
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-right: .25rem;
    background: url('./../../assets/visualizacao.svg') no-repeat;
}
