.produto{
    display: flex;
    gap: 16px;
    justify-content: center;
    animation: introduce .8s forwards;
}

@keyframes introduce {
    from{
        opacity: 0;
        transform: translate3d(-32px, 0, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.produto .img{
    max-width: 100%;
    display: block;
    flex: 1;
    width: 400px;
    border-radius: 8px;
    background: #5b1e34;
}
.produto .details{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.produto .details .preco{
    padding: 8px 16px;
    background: #bbfe9c;
    color: #7abd69;
    border-radius: 8px;
}

